*{
    padding: 0px;
    margin: 0px;
}
.banner-content{
    display: flex;
    width: 1920px;
    height: 850px;
    background-color: pink;
    justify-content: space-around;
    align-items: center;
}
.heading{
    width: 708px;
}
.text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}
.banner-img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
.btn{
    display: inline-flex;
    padding: 20px 43px;
    
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
 
}
.main-content{
    display: flex;
    width: 1922px;
    height: 620px;
    background-color: rgb(247, 225, 229);
    align-items: center;
    justify-content: space-around;
}
.main-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    
    gap: 24px;
    
    
}
span{
    color: red;
}
.main-text-1{
    gap: 20px;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   
}
.main-img{
    width: 318px;
    height: 420px;
    
}
 .btn .move{
    gap: 10px;
    display: inline-flex;
    padding: 18px 35px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}

