*{
    padding: 0px;
    margin: 0px;
}
.banner-content{
    display: flex;
    width: 1920px;
    height: 850px;
    background-color: pink;
    justify-content: space-around;
    align-items: center;
}
.heading{
    width: 708px;
}
.text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}
.banner-img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
.btn{
    display: inline-flex;
    padding: 20px 43px;
    
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
 
}
.main-content{
    display: flex;
    width: 1922px;
    height: 620px;
    background-color: rgb(247, 225, 229);
    align-items: center;
    justify-content: space-around;
}
.main-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    
    gap: 24px;
    
    
}
span{
    color: red;
}
.main-text-1{
    gap: 20px;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   
}
.main-img{
    width: 318px;
    height: 420px;
    
}
 .btn .move{
    gap: 10px;
    display: inline-flex;
    padding: 18px 35px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}
.content-heading-1{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;

}
.main-text-2{
    gap: 20px;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    margin-left: 660px;
}
.main-content-2-img{
    gap: 30px;
    margin-left: 240px;

}
.main-content-3{
    margin-top: 130px;
    background-image: url(/images/Rectangle\ 9.png);
    width: 1440px;
    height: 449px;
    margin-left: 240px;
    border-radius: 8px;
}
.main-heading-3{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 130px;

   
}
.content-text-3{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
#name{
    gap:50px;
    width: 700px;
    height: 64px;
    margin-left: 287px;
    margin-bottom: 121px;
}
.move1{
    width: 130px;
    height: 64px;
   
}
.footer-1{
    gap: 10px;
    width: 1922px;
    height: 449px;
    background-color: #272727;
}
.footer-heading{
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
    text-align: center;
    padding-top: 130px;

}
.footer-text{
    
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    padding-left: 648px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

    
}
#img2{
    padding-left: 8px;
}
#img3{
    padding-left: 8px;
}
#img4{
    padding-left: 8px;
}
.last{
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
    font-weight: 400;
    font-size: 16px;
}
.contacts{
    height: 50px;
    width: 1920px;
    background-color: pink;
    text-align: center;
    font-weight: 800;
    margin-top: 10px;


}
.call {
    display: flex;
    gap: 100px;
    background: #ecf5ab;
    margin-top: 10px;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;}


.contact input[type="text"], .contact input[type="email"],
    textarea {
        display: block;
        margin-bottom: 25px;
        padding: 18px 35px;
        color: #757575;
        border-radius: 5px;
        background: #FFF;
        border: 0;
        width: 100%;
    }
